<div class="page-header">
  <h2>User Detail </h2>
</div>
<table class="table table-striped table-bordered">
  <thead>
  </thead>
  <tbody>
  <tr> First Name : <%= current_user.first_name%></tr>
  <tr>Last Name : <%= current_user.last_name%> </tr>
  </tbody>
</table>
