<hr>
<strong>Recent Comments</strong>
<div>
<%if comments.present? %>
    <% comments.each do |comment| %>
          <div class="commentBox">
            <span><%= comment.content%></span>
          <span class="postedInfo">Posted:<%= comment.created_at.strftime("%D %T")%> by <%= comment.user.first_name%> <%= comment.user.last_name%> </span>
          </div>

    <% end %>
<%else%>
  not present
<%end%>
</div>
<hr>



