<% if @posts.empty? %>
  <ul class='breadcrumb'>
    <li class='active'>Posts not found</li>
<% else %>
  <div class='page-header'>
    <h1> Posts </h1>
  </div>
<div class="postsTable">
  <%= render "/dashboard/posts", posts: @posts %>
</div>
<% end %>
<span id="pathname" class='dn'><%= request.path %></span>
